<header class="l-header" id="header">
    <div class="l-header__content js-header-content">
        <div class="l-header__content-inner">
            <div class="l-header__logo">
                <a href="<%= basePath %>">
                    <img class="l-header__logo-close" src="<%= basePath %>assets/images/common/logo-white.jpg"
                        alt="BLOOM TECH Career" width="110" height="28" />
                    <img class="l-header__logo-open" src="<%= basePath %>assets/images/common/logo-white.jpg"
                        alt="BLOOM TECH Career" width="110" height="28" />
                </a>
            </div>
            <p class="l-header__catch">ITエンジニア転職なら<wbr>BLOOM TECH</p>

            <nav class="l-header__nav">
                <ul class="l-header__nav-list">
                    <li class="l-header__nav-item">
                        <a href="https://bloomtech.co.jp/about/" target="_blank" class="l-header__nav-link">
                            <span>運営会社</span>
                        </a>
                    </li>
                    <li class="l-header__nav-item">
                        <a href="https://bloomtech.co.jp/terms/" target="_blank" class="l-header__nav-link">
                            <span>利用規約</span>
                        </a>
                    </li>
                    <li class="l-header__nav-item">
                        <a href="https://bloomtech.co.jp/privacy/" target="_blank" class="l-header__nav-link">
                            <span>個人情報の取扱</span>
                        </a>
                    </li>
                    <li class="l-header__nav-item">
                        <a href="https://bloomtech.co.jp/contact/" target="_blank" class="l-header__nav-link">
                            <span>お問い合わせ</span>
                        </a>
                    </li>
                </ul>
                <div class="l-header__nav-btns">
                    <div class="l-header__nav-btn l-header__cta l-header__cta--transparent">
                        <a href="https://bloomtechcareer.com/" target="_blank">採用をお考えの<br
                                class="u-display__pc-only">企業様はこちら</a>
                    </div>
                    <div class="l-header__nav-btn l-header__cta l-header__cta--gold">
                        <a href="<%= basePath %>entry/">
                            <span>無料登録する</span>
                            <span>30秒で完了！</span>
                            <span>無料で求人を紹介してもらう</span>
                        </a>
                    </div>
                </div>
            </nav>

            <div class="l-header__btn l-header__cta l-header__cta--gold">
                <a href="<%= basePath %>entry/">無料登録</a>
            </div>

            <div class="l-header__hamburger-btn" id="hamburger-btn">
                <button class="l-header__hamburger-btn-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </div>
</header>