<!DOCTYPE html>
<html lang="ja">
<% const basePath='../' ; %>

    <head>
        <% let localhead={ title: '転職支援サービス登録フォーム｜IT/Webエンジニア専門の転職エージェントBLOOM TECH Career' ,
            desc: '転職支援サービス登録フォーム｜IT/Webエンジニア専門の転職エージェントBLOOM TECH Career	最短30秒で完了。BLOOM TECH Careerの転職相談サービスへの登録フォームです。まずはお気軽にご相談ください。'
            }; %>
            <%- include('../include/_head', { head: localhead, basePath: basePath }) %>
    </head>


    <body class="p-entry">
        <%- include('../include/_gtm') %>
            <%- include('../include/_header', {basePath}) %>
                <main class="c-bg-blue">
                    <div class="p-form">
                        <div class="l-inner">
                            <div class="p-form__title">
                                <span class="p-form__title-free">無料</span>
                                <div class="p-form__title-time">
                                    <p>最短<span>30</span>秒で登録完了</p>
                                </div>
                                <h1 class="p-form__title-main">転職支援サービスに登録する</h1>
                            </div>
                            <form class="p-form__body" action="<%= basePath %>entry/complete/" method=""
                                onsubmit="subForm()" novalidate>
                                <div class="p-form__list">
                                    <dl class="p-form__item">
                                        <dt class="p-form__label">
                                            <div class="p-form__label-required">必須</div>
                                            <div class="p-form__label-title">名前</div>
                                        </dt>
                                        <dd class="p-form__input">
                                            <input type="text" name="name" placeholder="John Doe" required>
                                            <p class="p-form__error" id="name"></p>
                                        </dd>
                                    </dl>
                                    <dl class="p-form__item">
                                        <dt class="p-form__label">
                                            <div class="p-form__label-required">必須</div>
                                            <div class="p-form__label-title">メールアドレス</div>
                                        </dt>
                                        <dd class="p-form__input">
                                            <input type="email" name="email" placeholder="example@bloomtech.co.jp"
                                                required>
                                            <p class="p-form__error" id="email"></p>
                                        </dd>
                                    </dl>
                                    <dl class="p-form__item p-form__item--phone">
                                        <dt class="p-form__label">
                                            <div class="p-form__label-required">必須</div>
                                            <div class="p-form__label-title">電話番号</div>
                                        </dt>
                                        <dd class="p-form__input">
                                            <input type="tel" name="phone" placeholder="0000000000" required>
                                            <p class="p-form__error" id="phone"></p>
                                        </dd>
                                    </dl>
                                    <dl class="p-form__item p-form__item--birth">
                                        <dt class="p-form__label">
                                            <div class="p-form__label-required">必須</div>
                                            <div class="p-form__label-title">生年月日</div>
                                        </dt>
                                        <dd class="p-form__input">
                                            <div class="p-form__input-wrap">
                                                <input type="number" name="birth-year" placeholder="1999" required>
                                                <input type="number" name="birth-month" placeholder="12" required>
                                                <input type="number" name="birth-day" placeholder="24" required>
                                            </div>
                                            <p class="p-form__error" id="birth"></p>
                                        </dd>
                                    </dl>
                                    <dl class="p-form__item">
                                        <dt class="p-form__label">
                                            <div class="p-form__label-required">必須</div>
                                            <div class="p-form__label-title">現在の居住地</div>
                                        </dt>
                                        <dd class="p-form__input">
                                            <div class="p-form__select-wrap">
                                                <select name="address-country" required>
                                                    <option value="placeholder" selected disabled style="display:none;">
                                                        選択してください
                                                    </option>
                                                    <option value="選択肢A">選択肢A</option>
                                                    <option value="選択肢B">選択肢B</option>
                                                    <option value="選択肢C">選択肢C</option>
                                                    <option value="選択肢D">選択肢D</option>
                                                    <option value="選択肢E">選択肢E</option>
                                                </select>
                                            </div>
                                            <p class="p-form__error" id="address-country"></p>
                                        </dd>
                                    </dl>
                                    <dl class="p-form__item">
                                        <dt class="p-form__label">
                                            <div class="p-form__label-required">必須</div>
                                            <div class="p-form__label-title">英語力</div>
                                        </dt>
                                        <dd class="p-form__input">
                                            <div class="p-form__select-wrap">
                                                <select name="japanese-level" required>
                                                    <option value="placeholder" selected disabled style="display:none;">
                                                        選択してください
                                                    </option>
                                                    <option value="選択肢A">選択肢A</option>
                                                    <option value="選択肢B">選択肢B</option>
                                                    <option value="選択肢C">選択肢C</option>
                                                    <option value="選択肢D">選択肢D</option>
                                                    <option value="選択肢E">選択肢E</option>
                                                </select>
                                            </div>
                                            <p class="p-form__error" id="japanese-level"></p>
                                        </dd>
                                    </dl>
                                    <dl class="p-form__item">
                                        <dt class="p-form__label">
                                            <div class="p-form__label-required">必須</div>
                                            <div class="p-form__label-title">現在の職種</div>
                                        </dt>
                                        <dd class="p-form__input">
                                            <div class="p-form__select-wrap">
                                                <select name="occupation" required>
                                                    <option value="placeholder" selected disabled style="display:none;">
                                                        選択してください
                                                    </option>
                                                    <option value="選択肢A">選択肢A</option>
                                                    <option value="選択肢B">選択肢B</option>
                                                    <option value="選択肢C">選択肢C</option>
                                                    <option value="選択肢D">選択肢D</option>
                                                    <option value="選択肢E">選択肢E</option>
                                                </select>
                                            </div>
                                            <p class="p-form__error" id="occupation"></p>
                                        </dd>
                                    </dl>
                                    <dl class="p-form__item">
                                        <dt class="p-form__label">
                                            <div class="p-form__label-required">必須</div>
                                            <div class="p-form__label-title">現在の職種の年数</div>
                                        </dt>
                                        <dd class="p-form__input">
                                            <div class="p-form__select-wrap">
                                                <select name="occupation-year" required>
                                                    <option value="placeholder" selected disabled style="display:none;">
                                                        選択してください
                                                    </option>
                                                    <option value="選択肢A">選択肢A</option>
                                                    <option value="選択肢B">選択肢B</option>
                                                    <option value="選択肢C">選択肢C</option>
                                                    <option value="選択肢D">選択肢D</option>
                                                    <option value="選択肢E">選択肢E</option>
                                                </select>
                                            </div>
                                            <p class="p-form__error" id="occupation-year"></p>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="p-form__consent">
                                    <label class="p-form__consent-label c-checkbox">
                                        <input type="checkbox" name="consent" required>
                                        <a href="https://bloomtech.co.jp/terms/" target="_blank">利用規約</a>と<a
                                            href="https://bloomtech.co.jp/privacy/" target="_blank">プライバシーポリシー</a>に同意する
                                        <p class="p-form__error" id="consent"></p>
                                    </label>
                                    <p class="p-form__consent-text">まずはお気軽にご相談ください</p>
                                    <div class="p-form__btn">
                                        <button class="c-button" type="submit">転職相談に申し込む</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </main>



                <%- include('../include/_footer', {basePath}) %>
    </body>

</html>